{% load static %}
<!-- ================================
Start Footer
================================= -->
<footer>
    <div class="footerCol">
    <div class="container">
        <ul class="socialCol">
        <li><a href="https://www.github.com/weldonhack"><img src="{% static 'images/github-mark.svg' %}" alt="..."></a></li>
        <li><a href="https://www.instagram.com/weldon_kenei_30/"><img src="{% static 'images/insta.svg' %}" alt="..."></a></li>
        <li><a href="https://twitter.com/KeneiWeldon"><img src="{% static 'images/twitter.svg' %}" alt="..."></a></li>
        <li><a href="https://www.linkedin.com/in/weldon-kenei-08a650211/"><img src="{% static 'images/linkedin.svg' %}" alt="..."></a></li>
        </ul>
        <div class="copyrightCol">
        <p>Copyright ©{% now 'Y' %} All rights reserved. Designed by Weldon Kenei</p>
        </div>
    </div>
    </div>
</footer>
<!-- ================================
End Footer
================================= -->